<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h2>Register</h2>
<form id="registerForm">
    <div>
        <label>Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label>Email:</label>
        <input type="email" id="email" name="email">
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>
<div id="errorMessage" style="color: red;"></div>

<a href="/auth/login">Login</a>

<script src="/js/register.js"></script>
</body>
</html>
